*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.div1{
			width:200px; 
			height:200px;
			background-color: orange;
			margin: 300px;
			overflow: hidden;
		}

		.div2{
			width:200px; 
			height:200px;
			background-color: green;
			position: relative;
			transition: 1s;
			transform: translateX(-300px);
	
			
		}

		.div1:hover .div2 {
			transform: translateX(0px);

		}
