*{
 	margin:0; 
 	box-sizing:border-box;
 	padding:0;	
}
.span1{
	font-family: 'Bangers', cursive;
}

.li-chinh1 {
	margin-top:20px;
	margin-right:250px;
	float:right;
	padding: 10px;
	position: relative;
	font-size:40px;
	color:#f701ea; 

}

.li-chinh2 {
	margin-top:20px;
	margin-right:50px;
	float:right;
	padding: 10px;
	position: relative;
	font-size:40px;
	color:#f701ea; 

}

.li-chinh3 {
	margin-top:20px;
	margin-right:50px;
	float:right;
	padding: 10px;
	position: relative;
	font-size:40px;
	color:#f701ea; 

}

.li-phu{
	clear:both;
	padding:10px;
	background-color:#ef00e3;
	font-size:20px;
	width: 150px;
	text-align: center;
	color:  #01f7b1;
}

ul{
	list-style-type:none;
}

.ul-phu{
	position:absolute;
	left: 0;
	display: none;

}

.li1:hover .ul-phu{
	display:block;
}

#link{
	list-style-type: none;
}

a{
	text-decoration:none;
}

a:hover {
	color:#f704b2;
/*	background-color:#04c6f7; */
}

.li-phu a{
	color:#01f7de;
}

#chinh{
	border: 1px solid #9401f7;
	height: 100px;
	background: linear-gradient(to left, #01f7b1, #d602f7);
	background: -moz-linear-gradient(to left, #01f7b1, #d602f7);
	position: fixed;
	width: 100%;
	z-index: 1;
}

#A{
	background-color:#ad6ded;
	width:700px;
	margin: auto;
	height:1000px;
}

#B{
	background-color:#e811fc;
	margin-top:-900px;
	width: 325px;
	height: 325px;
}

#B img{
	width: 10%;
	border: 0 solid;
	border-radius: 50%;
	position: absolute;
	top: 140px;
	left: 80px;
}

.B{
	position: absolute;
	top: 290px;
}

.span2{
	font-family: 'Bangers', cursive;
	color: #04d5f9;
	font-size: 20px;
}

.C1{
	position: relative;
	top: -300px;
	height:50px;
	width: 500px;
	margin: auto;
	border:1px solid #f90396;
	background-color: white;

}

.box1{
	padding-left: 40px;
	font-family: 'Itim', cursive;
}

.box2{
	font-family: 'Itim', cursive;
	height: 30px;
	width: 100px;
	margin: auto;
	border:0 solid;
	background-color: #f90396;
	padding-top: 5px;
	padding-left: 15px;
	color: #03f979;
	position: absolute;
    left: 426px;
    top: 210px;

}