*{
 	margin:0; 
 	box-sizing:border-box;
 	padding:0;	
}

body{
	background-image: url('http://otoxemay.asia/sites/default/files/hinh-nen-may-tinh.jpg');
	background-size: 100% 100%;

}

#div-id{
	column-count: 3;
	column-gap: 20px;
	margin-left:200px;
	margin-top: 75px; 

}

#p1 span{
	background-color: #00efe3;
}

p{
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	text-align: center;
}

.div1 img{
	width: 75%;
	border:1px solid black;
	border-radius: 60%;
	margin-top: 50px;

}

.div2 img{
	width: 75%;
	border: 1px solid black;
	border-radius: 60%;
	margin-top: 50px;

}

.div3 img{
	width: 75%;
	border: 1px solid black;
	border-radius: 60%;
	margin-top: 50px;
	

}

.div4 img{
	width: 75%;
	border: 1px solid black;
	border-radius: 60%;
	margin-top: 50px;

}

.div5 img{
	width: 75%;
	border: 1px solid black;
	border-radius: 60%;
	margin-top: 50px;

}

.div6 img{
	width: 75%;
	border: 1px solid black;
	border-radius: 60%;
	margin-top: 50px;
}

.div7 img{
	width: 75%;
	border: 1px solid black;
	border-radius: 60%;
	margin-top: 50px;
}

