*{
 	margin:0; 
 	box-sizing:border-box;
 	padding:0;	
}

.li-chinh1 {
	margin:50px;
	float:left;
	border:1px solid #f40404;
	padding-left: 10px;
	position: relative;
	font-size:40px;
	color:lightblue; 

}

.li-chinh2 {
	margin:50px;
	float:left;
	border:1px solid #1df904;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	font-size:40px;
	color:lightblue; 

}

.li-chinh3 {
	margin:50px;
	float:left;
	border:1px solid #03e8f9;
	padding-left: 10px;
	position: relative;
	font-size:40px;
	color:lightblue; 

}

.li-phu{
	clear:both;
	padding-left:30px;
	padding-right:30px;
	border:1px solid green;
	background-color:#ef00e3;
	font-size:20px;
	width: 200px;
	text-align: center;
}

ul{
	list-style-type:none;
}

.ul-phu{
	position:absolute;
	left: 0;
	display: none;

}

.li1:hover .ul-phu{
	display:block;
}

body{
	background-size: 100% ;
	background-image:url('http://img12.deviantart.net/691d/i/2013/230/c/1/beach_at_night_by_myraalex-d6iot9k.jpg');
}	

#link{
	list-style-type: none;

}

.link1{
	border:1px solid #2bf103;
	border-radius:20%;
	float:right;
	font-size: 40px;
	margin: 10px;
	padding: 10px;
}

.link2{
	border:1px solid#2bf103;
	border-radius:20%;
	float:right;
	font-size: 40px;
	margin: 10px;
	padding: 10px;
}

.link3{
	border:1px solid #2bf103;
	border-radius:20%;
	float:right;
	font-size: 40px;
	margin: 10px;
	padding: 10px;
}

a{
	text-decoration:none;
}

a:hover {
	color:#f704b2;
	background-color:#04c6f7; 
}

