*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url('https://static.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg');
	background-size: 100% 100%;
}

#avatar{
	position: relative;
	top: 50px;
	text-align: center;
}

.p1{
	font-family: 'Pacifico', cursive;
	font-size:40px;
	position: absolute;
	top: 25px;
	right: 563px;
	color: #6e09ea;
}

.p2{
	font-family: 'Lobster', cursive;
	font-size: 30px;
	position: absolute;
	top:650px;
	left:495px;
	color: #f90158;
	background-color: 
}

.p2 span{
	border: 1px solid;
	border-radius: 50%;
	padding: 20px;
	color: #f90158;
	margin: 10px;
}

#gthieu{
	margin-left: 60px;
	margin-top:200px;
}

.p3{
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #073bf7;
}

#write{
	margin: 100px;
}

#gthieu a{	
	color: #f90158 !important;
	text-decoration: none;	
	float: right;
	position: relative;
	bottom: 145px;
	right: 222px;
	font-size: 40px;
	border: 1px solid;
	border-radius: 60%;
	padding: 20px;
	background:  #073bf7;

}

.p4{
	font-size: 30px;
	background-color:#f90158;
	color:  #073bf7;
}